<%- include("partials/header") %>

<div class="polls main">
  <div class="table-header clear">
    <div class="col-30">Author</div>
    <div class="col-50">Title</div>
    <div class="col-20 right">Created</div>
  </div>

  <% polls.forEach(function(poll) { %>
    <a href="/poll/<%= poll._id %>"><div class="row clear">
      <div class="col-30"><%= poll.created_by.username %></div>
      <div class="col-50"><%= poll.title %></div>
      <div class="col-20 right"><%= poll.created_at.toLocaleDateString("en-US") %></div>
    </div></a>
  <% }) %>
</div>

<div class="pagination">
  <% if(pageInfo.page > 1 && pageInfo.pages.length > 1) { %>
    <a class="page-links" href="/?page=<%- pageInfo.page-1 %>">Previous</a>
  <% } %>

  <% if(pageInfo.pages.length > 1) { %>
    <% pageInfo.pages.forEach(function(page) { %>
      <% if(pageInfo.page === page) { %>
        <span class="cur-page"><%= page %></span>
      <% } else { %>
        <a class="page-links" href="/?page=<%- page %>"><%= page %></a>
      <% } %>
    <% }) %>

    <% if(pageInfo.page < pageInfo.pages.length) { %>
      <a class="page-links" href="/?page=<%- pageInfo.page+1 %>">Next</a>
    <% } %>
  <% } %>
</div>

<%- include("partials/footer") %>