<%- include("partials/header", {title: "TESTING PASS TITLE"}) %>

<div class="polls">
  <div class="table-header clear">
    <div class="col-30">Author</div>
    <div class="col-50">Title</div>
    <div class="col-20 right">Created</div>
  </div>

  <% polls.forEach(function(poll) { %>
    <a href="/poll/<%= poll._id %>"><div class="row clear">
      <div class="col-30"><%= poll.created_by.username %></div>
      <div class="col-50"><%= poll.title %></div>
      <div class="col-20 right"><%= poll.created_at.toLocaleDateString("en-US") %></div>
    </div></a>
  <% }) %>
</div>

<div class="pagination">
  <% pageInfo.pages.forEach(function(page) { %>
    <% if(pageInfo.page === page) { %>
      <span class="cur-page"><%= page %></span>
    <% } else { %>
      <a class="page-links" href="/?page=<%- page %>"><%= page %></a>
    <% } %>
    
  <% }) %>

</div>
<%- include("partials/footer") %>