<%- include("partials/header") %>

<div class="poll-box">
  <div class="clear">
    <div class="col-50 pad-right">
      <h3 id="title"><%= poll.title %></h3>
      <div class="option-group">
        <% poll.options.forEach(function(option) { %>
          <div class="option-div">
            <input type="radio" name="vote" id="<%= option.text %>">
            <label for="<%= option.text %>" class="option"><%= option.text %></label>
          </div>
        <% }) %>
        <div class="option-div">
          <input type="radio" name="vote" id="">
          <input class="custom-option" type="text" name="custom" id="" placeholder="Custom option">
        </div>
      </div>
      <% if(canVote) { %>
        <button id="submit-btn" class="btn btn-hover sub-btn">Submit Vote</button>
      <% } else { %>
        <button id="submit-btn" class="btn sub-disabled" disabled>Already Voted</button>
      <% } %>
      
      <button id="share-btn" class="btn btn-hover">Share on Twitter</button>

      <% if(canDelete) { %>
        <button id="delete-btn" class="btn btn-hover" disabled>Delete Poll</button>
      <% } %>
    </div>
    <div class="col-50">
      <canvas id="poll-chart" width="400px" height="400px"></canvas>
    </div>
  </div>
  <div class="poll-footer clear">
    <div class="col-50 italic">Created:
      <%= poll.created_at.toLocaleDateString("en-US") %>
    </div>
    <div class="col-50 italic right">By:
      <a href="/user/<%= poll.created_by.id %>">
        <%= poll.created_by.username %>
      </a>
    </div>
  </div>
</div>

<script src="/vendors/axios.min.js"></script>
<script src="/vendors/Chart.min.js"></script>
<script src="/poll.js"></script>

<%- include("partials/footer") %>